<!--
Template: additional_permit_needs_approval.html
Use when: Customer wants an additional permit but property restricts the number
Variables: {{customer_name}}
-->
<p>Hi {{customer_name}},</p>

<p>Thank you for reaching out to ParkM Support.</p>

<p>Your community has a limit on the number of parking permits per unit. To get an additional permit, you will need approval from your leasing office. Please follow these steps:</p>

<ol>
  <li><strong>Contact your leasing office</strong> and request approval for an additional parking permit.</li>
  <li><strong>Have your leasing office email us</strong> at <a href="mailto:support@parkm.com">support@parkm.com</a> to approve the additional permit.</li>
</ol>

<p>Once we receive approval, we will update your account so you can purchase the additional permit.</p>

<p>If you have any questions, feel free to reply to this email.</p>

<p>Best regards,<br>
[YOUR NAME]<br>
ParkM Support Team</p>
