<!--
Template: cancellation_confirmed.html
Use when: Permit has been canceled, no refund requested or applicable
Variables: {{customer_name}}, {{license_plate}}
-->
<p>Hi {{customer_name}},</p>

<p>Your parking permit has been successfully canceled.</p>

<p><strong>Cancellation Details:</strong></p>
<ul>
  <li>License plate: {{license_plate}}</li>
  <li>Status: Canceled</li>
  <li>Effective: Immediately</li>
</ul>

<p>You will no longer be charged for this permit going forward. Please note that your vehicle may no longer be authorized to park in the permit area, so be sure to make alternative arrangements as needed.</p>

<p>If you have any questions or need anything else, we're here to help.</p>

<p>Best regards,<br>
ParkM Support Team</p>
