<!--
Template: lead_acknowledged.html
Use when: A new property lead has inquired about ParkM services
Variables: none
-->
<p>Hi there,</p>

<p>Thank you for your interest in ParkM! We would love to help your community with parking management.</p>

<p>A ParkM sales representative will be reaching out to you shortly to discuss your needs and how we can help.</p>

<p>In the meantime, you can learn more about our services at <a href="https://www.parkm.com/">www.parkm.com</a>.</p>

<p>Best regards,<br>
[YOUR NAME]<br>
ParkM Support Team</p>
