<!--
Template: locked_permit_needs_approval.html
Use when: Customer is asking about locked-down permits that show as Sold Out
Variables: {{customer_name}}
-->
<p>Hi {{customer_name}},</p>

<p>Thank you for reaching out to ParkM Support.</p>

<p>The permits at your community are currently showing as unavailable. I have forwarded your request to a manager for review.</p>

<p>In the meantime, we recommend contacting your leasing office as well, as they may need to provide approval for permit purchases at your community.</p>

<p>We will follow up with you as soon as we have an update.</p>

<p>If you have any questions, feel free to reply to this email.</p>

<p>Best regards,<br>
[YOUR NAME]<br>
ParkM Support Team</p>
