<!--
Template: missing_move_out_date.html
Use when: Customer is requesting a refund but did not provide their move-out date
Variables: {{customer_name}}
-->
<p>Hi {{customer_name}},</p>

<p>Thank you for contacting ParkM. We've received your refund request and want to process it as quickly as possible.</p>

<p>To verify your eligibility, we need your move-out date (the date you vacated the property). Refunds are available within 30 days of the last charge date when a move-out has occurred.</p>

<p>Could you please reply with:</p>

<ul>
  <li>Your move-out date</li>
  <li>Your license plate number (if not already provided)</li>
</ul>

<p>We'll review your request as soon as we receive this information.</p>

<p>Thank you,<br>
ParkM Support Team</p>
