<!--
Template: missing_license_plate.html
Use when: Customer's email doesn't include their license plate number
Variables: {{customer_name}}
-->
<p>Hi {{customer_name}},</p>

<p>Thank you for reaching out to ParkM support! We'd be happy to help you.</p>

<p>To look up your account and assist you further, we need your vehicle's license plate number. Could you please reply with:</p>

<ul>
  <li>Your license plate number</li>
  <li>The state the plate is registered in</li>
</ul>

<p>Once we have that information, we'll get your request taken care of right away.</p>

<p>Thank you,<br>
ParkM Support Team</p>
