<!--
Template: refund_approved.html
Use when: Refund has been approved and submitted to accounting
Variables: {{customer_name}}, {{amount}}, {{processing_time}}
Default processing_time: 5-7 business days
-->
<p>Hi {{customer_name}},</p>

<p>Great news! Your refund request has been approved and submitted to our accounting team.</p>

<p><strong>Refund Details:</strong></p>
<ul>
  <li>Amount: {{amount}}</li>
  <li>Processing time: {{processing_time}}</li>
  <li>The refund will be returned to your original payment method</li>
</ul>

<p>Your parking permit has also been canceled in our system. You should receive a separate cancellation confirmation shortly.</p>

<p>If you do not see the refund within {{processing_time}}, please don't hesitate to reach out and we'll follow up with accounting directly.</p>

<p>Thank you for being a ParkM customer. We wish you all the best in your new home!</p>

<p>ParkM Support Team</p>
