<!--
Template: space_not_found.html
Use when: Customer's parking space is not in the system dropdown
Variables: {{customer_name}}, {{space_number}}
-->
<p>Hi {{customer_name}},</p>

<p>Thank you for reaching out. We apologize for the inconvenience -- it appears that space {{space_number}} is not currently listed in our system for your community.</p>

<p>We have escalated this to our team to get the space added. In the meantime, we have issued a <strong>free temporary permit</strong> for your vehicle so you are covered while we resolve this.</p>

<p>We will follow up once the space has been added. You should then be able to select it when purchasing your permit.</p>

<p>If you have any questions, feel free to reply.</p>

<p>Best regards,<br>
[YOUR NAME]<br>
ParkM Support Team</p>
