<!--
Template: warning_tag_response.html
Use when: Customer received a warning tag on their vehicle
Variables: {{customer_name}}
-->
<p>Hi {{customer_name}},</p>

<p>Thank you for reaching out. I understand your concern regarding the warning sticker on your vehicle.</p>

<p>A tag or warning is simply a notice that your vehicle may be in violation of one of the parking rules at your community. Tags are <strong>warnings only</strong> and do not have any fees associated with them. However, they do indicate that you may be at risk of being towed, booted, or ticketed if the issue is not resolved.</p>

<p>Could you please send us a picture of the tag that was placed on your vehicle? This will help us assist you further and identify the reason for the tag.</p>

<p>In the meantime, we want to make sure your vehicle is properly permitted. [CSR: Include details about their permit status and what needs to be resolved.]</p>

<p>Please note that sticker removal is the customer's responsibility -- unfortunately, ParkM is unable to remove the sticker for you.</p>

<p>Best regards,<br>
[YOUR NAME]<br>
ParkM Support Team</p>
